:host([theme~='heating_navbar'][orientation='horizontal']) ::slotted(vaadin-tab:last-of-type) {
    margin-inline-start: auto;
    margin-inline-end: 0;
}

/*

:host([theme~='centered'][orientation='horizontal']) ::slotted(vaadin-tab:first-of-type) {
    margin-inline-start: auto;
}

:host([theme~='centered'][orientation='horizontal']) ::slotted(vaadin-tab:last-of-type) {
    margin-inline-end: auto;
}

 */